* {
	margin: 0;
	padding: 0;
}

.container {
	min-width: 100%;
}

html,
body {
	background: url(sky2.png)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.text {
	font-display: flex;
	text-align: center;
	font-size: 50px;
	margin-top: 50vh;

	/* flex: 3rem; */
}

.navbar {
	min-width: 100vh;
}

.background {
	/* background: url(sky2.png)no-repeat center center fixed; */
	/* width: auto;
	height: auto; */
	/* width: auto; */
	/* height: auto; */
	/* min-width: 100%;
	max-height: 20%; */
	/* -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}
