* {
	margin: 0;
	padding: 0;
}

.container {
	min-width: 100%;
}

html,
body {
	background: url(sky2.png)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar {
	min-width: 100vh;
}

.TypeWriter {
	margin-top: 9rem;
	margin-left: 26rem;
}

.projects{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card{
	flex: 0 1 15%;
	/* flex-basis: 10em; */
	margin-top:10rem;
	margin-left: 7rem;
}

.testimonials{
	border: #ccc solid 1px;
	background-color: antiquewhite;
	margin-top:8rem;
}

.quote{
	float: right;
}

.social-links {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 50%;
	margin: auto;
	font-size: 5rem;
	/* color: #fff; */
	padding: 8px;
	margin-top:5rem;
	margin-left:10rem;
}
.fa {
	color: black;
  }