* {
	margin: 0;
	padding: 0;
}

.container {
	min-width: 100%;
}

html,
body {
	width: 100%;
}

.text {
	font-display: flex;
	text-align: center;
	font-size: 50px;
	margin-top: 50vh;

	/* flex: 3rem; */
}

.navbar {
	min-width: 100vh;
}

.background {
	/* background: center center/cover; */
	height: 100vh;

	/* width: auto; */
	/* height: auto; */
	/* min-width: 100%;
	max-height: 20%; */
}
